---
import Layout from "../layouts/Layout.astro";
import Drawer from "../components/Drawer.astro";
import Contacto from "../sections/Contacto.astro";
import Experiencia from "@/sections/experiencia.astro";
import Logo from "../icons/logo.astro";
import Mapa from "../sections/mapa.astro";

import Aboutme from "@/sections/aboutme.astro";
import Slogan from "@/sections/Slogan.astro";
import DrawerExp from "../sections/drawer_experience.astro"

import Experience from "../components/Experience.astro";
import { EXPERIENCE } from "../data/experience";
---

<Layout title="Julia Sánchez | Empoderando vidas">
  <main
  id="content"
  class="flex h-full min-h-screen flex-col items-center justify-center gap-6 py-10 sm:py-10 md:py-4 lg:gap-12 drawer drawer-end"
  >
  <div class="grid w-full max-w-max grid-cols-2 gap-4 md:grid-cols-4">
    <Aboutme/>
    <Aboutme/>
  </div>
  <div class="flex flex-col items-center justify-center gap-4">
    <Logo/>
    
    <Slogan/>
  </div>
  <div class="grid w-full max-w-max grid-cols-2 gap-4 md:grid-cols-4">
    
    <Experiencia/>
    <Mapa/>
    <Contacto/>
  </div>
  <Drawer id="experience-drawer" title="Experiencia Laboral" buttonLabel="Ver Currículum" buttonUrl="https://andriy-kuktenko-resume.s3.amazonaws.com/resume.pdf">
    <ol class="group/list space-y-12">
      {EXPERIENCE.map((experience) => <Experience {...experience} />)}
    </ol>
  </Drawer>
</main>
</Layout>
