<div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:gap-6 xl:gap-8 mb-8">
    <!-- image - start -->
    <a href="#"
        class="group relative flex h-24 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:h-48">
        <img src="/images/photos/JuliaSanchez_coaching1.jpg" loading="lazy" alt="Coaching" class="absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

        <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
        </div>

        <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Coaching</span>
    </a>
    <!-- image - end -->

    <!-- image - start -->
    <a href="#"
        class="group relative flex h-24 items-end overflow-hidden rounded-lg bg-gray-100 shadow-lg md:col-span-2 md:h-48">
        <img src="/images/photos/JuliaSanchez_coaching3.jpg" loading="lazy" alt="Talleres de Alto impacto" class="absolute inset-0 object-left-top h-full w-full object-cover object-center transition duration-200 group-hover:scale-110" />

        <div
            class="pointer-events-none absolute inset-0 bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50">
        </div>

        <span class="relative ml-4 mb-3 inline-block text-sm text-white md:ml-5 md:text-lg">Alto Impacto</span>
    </a>
    <!-- image - end -->
</div>