---
import IconArrow from "../icons/arrow.astro";
import IconCursor from "../icons/cursor.astro";
---


<!-- Tarjeta grande (pantallas grandes) -->
<!-- Tarjeta grande (pantallas grandes) -->

<label 
for="experience-drawer"
  id="about"
  aria-label="About me"
  class="group col-span-2 hidden lg:flex h-40 w-full rotate-0 sm:-rotate-2 flex-col rounded-3xl border-4 border-white bg-white p-4 transition-all sm:hover:rotate-0 sm:hover:bg-orange-50 relative"
  data-umami-event="Show my work click"
  >
  <!-- Icono Arrow en la esquina superior derecha -->
  <div class="absolute top-4 right-4">
    <IconArrow class="size-6 rounded-md cursor-pointer text-[#FF8F3F]" data-ccursor />
  </div>

  <div class="flex lg:items-start gap-4 flex-row items-center text-center">
    <img
      class="aspect-square size-10 rounded-full grayscale-0 scale-110 sm:grayscale sm:scale-100 transition-all sm:group-hover:scale-110 sm:group-hover:grayscale-0"
      src="/images/avatar.webp"
      alt="avatar"
    />
    <div class="flex flex-col items-start">
      <p class="font-roboto-condensed font-semibold text-[#FF8F3F] sm:text-inherit sm:group-hover:text-[#FF8F3F]">
        Julia Sánchez
      </p>
      <p class="font-roboto-condensed font-medium text-[#FF8F3F] sm:text-inherit sm:group-hover:text-[#FF8F3F]">
        Emprendedora
      </p>
    </div>
  </div>
  <p class="font-roboto-condensed font-thin text-sm max-w-72 text-[#FF8F3F] sm:text-inherit sm:group-hover:text-[#FF8F3F]">
    Soy apasionada del desarrollo humano, ingeniera industrial (ITESM) y maestra en educación (UPAEP). Lideré equipos en Kraft, integrando gestión, docencia y desarrollo personal con impacto positivo.
  </p>
</label>


<!-- Tarjeta interactiva (pantallas pequeñas) -->
<div class="drawer-content lg:hidden col-span-2 sm:col-span-1">
  <label
    for="experience-drawer"
    class="group relative cursor-pointer overflow-hidden py-4 px-0 flex h-40 w-36 flex-col gap-2 rounded-3xl border-4 border-white transition-all bg-white rotate-0 sm:-rotate-2 sm:hover:rotate-0 sm:bg-orange-50 sm:hover:bg-orange-100 items-center justify-center text-center"
    data-umami-event="Show my work click"
    id="experience"
  >
    <img
      class="aspect-square z-10 w-10 h-10 rounded-full transition-all grayscale-0 scale-110 sm:scale-100 sm:grayscale sm:group-hover:scale-110 sm:group-hover:grayscale-0"
      src="src\assets\JuliaSanchez_negocios2.jpg"
      alt="redvike"
    />
    <span
      class="flex gap-3 items-center justify-center text-3xl font-bold font-serif italic sm:not-italic sm:group-hover:italic text-[#FF8F3F] sm:text-zinc-600 sm:group-hover:text-[#FF8F3F] rounded-lg transition-all duration-100"
    >
      Sobre mí
    </span>
    <IconCursor class="text-[#FF8F3F] z-10" />
  </label>
</div>
