---
import IconArrow from  "../icons/arrow.astro"
---

<div class="drawer-content col-span-1 row-start-1">
  <label
    for="experience-drawer"
    class="group relative cursor-pointer overflow-hidden py-4 px-0 flex h-40 w-36 flex-col gap-2 rounded-3xl border-4 border-white transition-all bg-white rotate-0 sm:-rotate-2 sm:hover:rotate-0 sm:bg-orange-50 sm:hover:bg-orange-100"
    data-umami-event="Show my work click"
    id="experience"
  >
    <span
      class="inline-flex gap-3 items-center text-3xl font-bold font-serif italic group-hover:italic text-[#FF8F3F] sm:text-zinc-600 sm:group-hover:text-[#FF8F3F] rounded-lg transition-all duration-100"
    >
      
      <IconArrow class="text-[#FF8F3F]" />
    </span>
    <span
      class="font-serif italic group-hover:italic text-3xl font-bold transition-all duration-100 text-[#FF8F3F] sm:text-zinc-600 sm:group-hover:text-[#FF8F3F]"
    >
      Mis
    </span>
    <span
      class="font-serif italic group-hover:italic text-2xl font-bold transition-all duration-100 text-[#FF8F3F] sm:text-zinc-600 sm:group-hover:text-[#FF8F3F]"
    >
      Proyectos
    </span>
  </label>
</div>
