<div class="flex w-full items-center justify-center overflow-hidden gap-2" >
    <p class="font-roboto-condensed font-medium text-2xl lg:text-[2rem] lg:leading-[2rem]">
      <div class="group relative inline-block">
        <div
        class="transition-transform duration-100 group-hover:-translate-y-16"
        > 
        <p
        class="font-roboto-condensed font-medium text-2xl lg:text-[2rem] lg:leading-[2rem]"
        >
        Empoderando personas
      </p>
    </div>
    <div
    class="absolute inset-x-0 top-0 w-max translate-y-16 transition-transform duration-100 group-hover:translate-y-0"
    >
    <p
    class="font-roboto-condensed font-medium text-2xl lg:text-[2rem] lg:leading-[2rem] bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500"
    >
    Construyendo futuro.
  </p>
</div>
</div>
</p>
</div>