---

---

<div class="flex w-full flex-col items-center justify-center overflow-hidden gap-2 text-center">
  <div class="group relative inline-block">
    <div class="transition-transform duration-100 group-hover:-translate-y-16">
      <p class="animate-typing overflow-hidden whitespace-nowrap border-r-2 border-r-white pr-3 font-roboto-condensed font-medium text-2xl lg:text-[2rem] lg:leading-[2rem]">
        Impactando, Inspirando, Entrenando
      </p>
    </div>
    <div class="absolute left-1/2 top-0 w-full -translate-x-1/2 translate-y-16 text-center transition-transform duration-100 group-hover:translate-y-0">
      <p class="font-roboto-condensed font-medium text-2xl lg:text-[2rem] lg:leading-[2rem] bg-clip-text text-transparent bg-gradient-to-r from-orange-400 to-orange-500">
        Vidas con sentido
      </p>
    </div>
  </div>
</div>
