---
import "../styles/global.css";
import "../styles/fonts.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="red sm:cursor-none">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Soy una apasionada por desarrollar el talento humano y ayudar a que los ambientes empresariales aprovechen todo su potencial.
      Siempre desde el enfoque empático y respetuoso."
    />
    <meta
      name="keywords"
      content="desarrollo empresarial, integración empresarial, capacitación a empresas, capacitación empleados"
    />
    <meta name="author" content="Jorge Badilo" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.juliasanchez.mx">
    <meta property="og:title" content="Julia Sánchez | Empoderando vidas">
    <meta property="og:description" content="Emprendora comprometida con el desarrollo personal a través de la capacitación del talento humano">
    <meta property="og:image" content="/images/theme.webp">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel="canonical" href="https://www.kuktenko.dev">
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/webp" href="/favicon.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <script src="../scripts/main.ts"></script>
  </body>
</html>
